<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.dao.ErrListDAO">
	<resultMap type="com.sf.bean.ErrList" id="errListMap">
         <id column="Err_ID" property="errID"/>
         <result column="Err_Type" property="errType"/>
         <result column="Area_ID" property="areaID"/>
         <result column="Err_Title" property="errTitle"/>
         <result column="Err_Time" property="errTime"/>
         <result column="InertTime" property="insertTime"/>
    </resultMap>

	<select id="getErrListByAreaIDAndErrType" resultType="map">
		<!-- select top 5 A.Err_ID,A.Area_ID,A.Err_Type,A.Err_Title,CONVERT(varchar(16),
		A.Err_Time,120) as Err_Time,B.DictionaryValue_Value as TypeName from 
		(select * from ErrList where Area_ID=1 and Err_Type=1) A LEFT JOIN 
		(SELECT * from DictionaryValue WHERE Dictionary_ID = 5) B ON A.Err_Type=B.DictionaryValue_Num -->
	
		select top 5 A.Err_ID,A.Area_ID,A.Err_Type,A.Err_Title,CONVERT(varchar(16),
		A.Err_Time,120) as Err_Time,B.DictionaryValue_Value as TypeName from 
		(select * from ErrList 
		<where>
			<if test="areaID != null">
				and Area_ID = #{areaID}
			</if>
			<if test="errType != null">
				and Err_Type = #{errType}
			</if>
		</where>
		) A LEFT JOIN 
		(SELECT * from DictionaryValue WHERE Dictionary_ID = 5) B ON A.Err_Type=B.DictionaryValue_Num
	</select>

</mapper>