<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="libs/vue.min.js"></script>
<script src="libs/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
<head>
    <title>Hello World!</title>
</head>

    <body>
        <h1 th:inline="text">[[${test}]]</h1>
        <p th:text="${test}"></p>
    </body>

    <div id="app">
        {{ message }}
    </div>

<script>
    var m = new Vue({
        el:'#app',
        data: {
            message:'Hello Worl111!'
        },
        created: function () {
            this.$http({           //调用接口
                method:'GET',
                url: "http://127.0.0.1:8089/jpa1" ,
                params:{
                    userName : 9,
                    length : 10
                }
            }).then(function(response){  //接口返回数据
                    this.message = response.data.test;
            },function(error){
            })
        }
    });
</script>
</html>